<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input appLowercase  type="text" class="form-control">
      </div>

      <p appCsshighlighter>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi officiis dolores vero, nihil nulla optio quos ratione, enim dolor, expedita corrupti? Labore modi quasi autem necessitatibus velit qui iusto molestias perferendis repudiandae aut! Quisquam placeat nemo fugiat officiis asperiores sit odio fugit dolores. Maiores.</p>




<p appCssrenderer>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto excepturi officiis dolores vero, nihil nulla optio quos ratione, enim dolor, expedita corrupti? Labore modi quasi autem necessitatibus velit qui iusto molestias perferendis repudiandae aut! Quisquam placeat nemo fugiat officiis asperiores sit odio fugit dolores. Maiores.</p>



    </div>
  </div>
</div>

