<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="form-group">
        <input appLowercase  type="text" class="form-control">
      </div>

      <p appCsshighlighter>Lucky Baskhar (stylised as Lucky Baskha₹) is a 2024 Indian Telugu-language period crime drama film written and directed by Venky Atluri. It is produced by S. Naga Vamsi and Sai Soujanya under Sithara Entertainments, Fortune Four Cinema and Srikara Studios. The film stars Dulquer Salmaan in the titular role, alongside Meenakshi Chaudhary, Tinnu Anand, P. Sai Kumar, Ramki, Raghu Babu, Sarvadaman D. Banerjee, Sachin Khedekar and Y. Kasi Viswanath. In the film, a lower-middle-class man begins engaging in financial scams after struggling to support his family while battling debt and humiliation..</p>




<p appCssrenderer>Lucky Baskhar is a thrilling drama about the notorious financial scandals of the early ’90s, inspired by the real-life Harshad Mehta scam. This movie stars Dulquer Salman and tells the story in an unconventional manner, showing the drama through the eyes of the bankers involved, hence giving a twist to this classic tale of financial intrigue..</p>



    </div>
  </div>
</div>

